<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- communication with turtle bot & browser+js -->
	<include file="$(find tams_ur5_turtlebot_delivery_coordination)/launch/multimaster.launch" />
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

	<!-- high-level logic for delivery tasks -->
	<node name="Coordinator" pkg="tams_ur5_turtlebot_delivery_coordination" type="coordinator.py" output="screen" />
</launch>
