<?xml version="1.0"?>
<!--
  Universal robot ur5 launch.  Loads ur5 robot description (see ur_common.launch
  for more info)

  Usage:
    ur5_bringup.launch robot_ip:=<value>
-->
<launch>

  <!-- robot model -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find project15_manipulation)/urdf/tams_setup.urdf.xacro'" />


</launch>
